html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 30px;
}

button {
    font-size: 25px;
    font-family: 'Pablo';    
}

h1 {
    font-family: 'Pablo'
}

.container {
    vertical-align: center;
    text-align: center;
}

.sound-list  img {
    height: 200px;
}

img {
    cursor: pointer;
    margin: 0 25px 0 25px;
}